<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  
    <h1>About</h1>
    <p>
     This is our attempt at a polling site and we have been able to 
     add a signup page as of now. Stay tuned for more functionalities...
    </p>
</html>