<% provide(:title, "Contact") %>
<!DOCTYPE html>
<h1>Contact</h1>
<pre>
  CHAINCODERS::  Aniket Bonde---- 
                 Ishan Khurjekar---
                 Richard Doss-----
                 Valasatchi -------
                 Sushrut Kaul------
                 Nitin ------------
</pre>