<div class="center jumbotron">
  <h1>Welcome to the Polling App</h1>

  <h2>
    This is the home page for the Polling App
   
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("poll.png", class: "style_image" ),
            'http://rubyonrails.org/' %>